@model IEnumerable<Codisa.Infrastructure.ParamsDTO.AreaDto>

<p>
    @Html.ActionLink("Nueva Area", "NewArea")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditArea", item) |
                    @Html.ActionLink("Eliminar", "DeleteArea", new { id = item.IdArea })
                </td>
            </tr>
        }
    </tbody>
</table>


